<div class="main-container">
  <div class="grid-container">
    {{#each clips}}
    <div class="box" data-clip="{{ file }}">{{{ quote }}}</div>
    {{/each}}
  </div>

  {{#each clips}}
  <audio data-clip="{{ file }}" src="assets/sounds/{{ file }}"></audio>
  {{/each}}
</div>
